# 1. What is the data type of 10,"10", 10.0, and True?

In [4]:
print(type("10")) # str
print(type(10.0)) # float
print(type(True)) # bool

<class 'str'>
<class 'float'>
<class 'bool'>

# 2. Convert the integer 5 to a float.

In [6]:
float(5)

5.0

# 3. Create a variable with string type and print its type.

In [8]:
name = "Nagesh"
print(type(name))

<class 'str'>

# 4. Write a program to check the type of a variable x = 4.5.

In [9]:
x = 4.5
print(type(x))

<class 'float'>

# 5. Cast a float to an integer and explain what happens.

In [ ]:
my_float = 4.5 # defined float value 4.5 to my_float
print(type(my_float)) # checking the type, it should be float
my_int = int(my_float) # coverting/casting my_float to int using `int()`
print(type(my_int)) # checking it's type

<class 'float'>
<class 'int'>

# 6. Check if a variable is of type int using isinstance().

In [101]:
n = 10.9
if isinstance(n, int):
  print("Int")
else:
  print("Not int")

Not int

# 7. Create a list with 5 elements and print it.

In [17]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

# 8. Add an item to a list using append().

In [18]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

# 9. Remove an element from a list using remove().

In [20]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
my_list.remove(5)
print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

# 10. Sort a list of numbers in ascending order.

In [21]:
my_list = [1, 4, 2, 3, 5]
print(my_list)
my_list.sort()
print(my_list)

[1, 4, 2, 3, 5]
[1, 2, 3, 4, 5]

# 11. Write a program to find the sum of all items in a list.

In [22]:
my_list = [1, 4, 2, 3, 5]
print("sum", sum(my_list))

sum 15

# 12. Create a tuple of 3 strings and print it.

In [25]:
my_tuple = ("Virat", "Sumit", "Nagesh")
print(my_tuple)
print(type(my_tuple))

('Virat', 'Sumit', 'Nagesh')
<class 'tuple'>

# 13. Convert a list to a tuple.

In [27]:
my_list = [1, 4, 2, 3, 5]
print(type(my_list))
my_tuple = tuple(my_list)
print(type(my_tuple))

<class 'list'>
<class 'tuple'>

# 14. Access the second item in a tuple.

In [28]:
my_tuple = ("Virat", "Sumit", "Nagesh")
print(my_tuple[1])

Sumit

# 15. Find the index of a specific element in a tuple.

In [29]:
my_tuple = ("Virat", "Sumit", "Nagesh")
my_tuple.index('Sumit')

1

# 16. Count how many times a value appears in a tuple.

In [31]:
my_tuple = ("Virat", "Sumit", "Nagesh", "Sumit")
my_tuple.count("Sumit")

2

# 17. Create a set with some duplicate values and print it.

In [32]:
my_set = {1, 2, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

# 18. Add an element to a set using add().

In [33]:
my_set = {1, 2, 2, 3, 4, 5}
print(my_set)
my_set.add(10)
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 10}

# 19. Remove an element from a set using discard().

In [34]:
my_set = {1, 2, 2, 3, 4, 5}
print(my_set)
my_set.discard(2)
print(my_set)

{1, 2, 3, 4, 5}
{1, 3, 4, 5}

# 20. Find the union of two sets.

In [35]:
a = {1, 2, 3, 4, 5}
b = {1, 2, 3, 10, 20}
a.union(b)

{1, 2, 3, 4, 5, 10, 20}

# 21. Check if two sets have any elements in common using intersection.

In [36]:
a = {1, 2, 3, 4, 5}
b = {1, 2, 3, 10, 20}
a.intersection(b)

{1, 2, 3}

# 22. Create a dictionary with keys name, age, and city.

In [38]:
my_d = {
  "name": "Nagesh",
  "age": 30,
  "city": "Kolar"
}
print(my_d)

{'name': 'Nagesh', 'age': 30, 'city': 'Kolar'}

# 23. Add a new key-value pair to a dictionary.

In [41]:
my_d = {
  "name": "Nagesh",
  "age": 30,
  "city": "Kolar"
}
print(my_d)
my_d['gender'] = "Male"
print(my_d)

{'name': 'Nagesh', 'age': 30, 'city': 'Kolar'}
{'name': 'Nagesh', 'age': 30, 'city': 'Kolar', 'gender': 'Male'}

# 24. Update the value of an existing key.

In [42]:
my_d = {
  "name": "Nagesh",
  "age": 30,
  "city": "Kolar"
}
print(my_d)
my_d['age'] = 29
print(my_d)

{'name': 'Nagesh', 'age': 30, 'city': 'Kolar'}
{'name': 'Nagesh', 'age': 29, 'city': 'Kolar'}

# 25. Write a program to loop through a dictionary and print all key-value pairs.

In [44]:
my_d = {
  "name": "Nagesh",
  "age": 30,
  "city": "Kolar"
}

for k, v in my_d.items():
  print(k, v)

name Nagesh
age 30
city Kolar

# 26. Check if a key exists in a dictionary.

In [48]:
my_d = {
  "name": "Nagesh",
  "age": 30,
  "city": "Kolar"
}

print("name" in my_d)

True

# 27. Print the first three elements of a list.

In [50]:
my_list = [1, 2, 3, 4, 5]
print(my_list[:3])

[1, 2, 3]

# 28. Slice a list to get elements from index 2 to 5.

In [102]:
my_list = [1, 2, 3, 4, 5, 6, 7]
print(my_list[2:6])

[3, 4, 5, 6]

# 29. Get the last element of a list using negative indexing.

In [53]:
my_list = [1, 2, 3, 4, 5, 6, 7]
print(my_list[-1])

7

# 30. Reverse a list using slicing

In [54]:
my_list = [1, 2, 3, 4, 5, 6, 7]
print(my_list[::-1])

[7, 6, 5, 4, 3, 2, 1]

# 31. Replace the second item in a list with a new value.

In [55]:
my_list = [1, 2, 3, 4, 5, 6, 7]
my_list[1] = 30
print(my_list)

[1, 30, 3, 4, 5, 6, 7]

# 32. Write a program to check if a number is even or odd.

In [57]:
n = 11

if n % 2 == 0:
  print("Even")
else:
  print("Odd")

Odd

# 33. Take input and check if the number is positive, negative, or zero.

In [60]:
n = int(input("Enter Number"))

if n > 0:
  print("Positive")
elif n < 0:
  print("Negative")
else:
  print("Zero")

Zero

# 34. Check if a number is divisible by 2 and 3.

In [65]:
n = 30

if n % 2 == 0 and n % 3 == 0:
  print("Divisible")
else:
  print("Not Divisible")

Divisible

# 35. Compare two numbers and print the greater one.

In [68]:
a = 10
b = 10

if a > b:
  print("A greater than B")
elif b > a:
  print("B greater than A")
else:
  print("Both are equal")

Both are equal

# 36. Use if-elif-else to grade students based on marks.

In [100]:
grade = 80
if grade >= 90:
  print('S')
elif grade >=80 and grade <= 90:
  print('A')
elif grade >=70 and grade <= 80:
  print('A')
elif grade >= 40 and grade <= 70:
  print("B")
else:
  print("F")

A

# 37. Print numbers from 1 to 10 using a for loop.

In [69]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

# 38. Iterate through a list and print each element.

In [70]:
my_l = [1, 2, 4, 5, 6]
for i in my_l:
  print(i)

1
2
4
5
6

# 39. Use a for loop to calculate the factorial of a number.

In [72]:
n = 5
fact = 1
for i in range(1, n+1):
  fact *= i
print(fact)

120

# 40. Print all even numbers in a list.

In [ ]:
my_l = [1, 2, 3, 4, 5]
for i in my_l:
  if i %2 == 0:
    print(i)

2
4

# 41. Use a for loop to find the sum of numbers in a list.

In [74]:
my_l = [1, 2, 3, 4, 5]
total = 0
for i in my_l:
  total += i
print(total)

15

# 42. Print numbers from 1 to 5 using a while loop.

In [78]:
i = 1
while i <= 5:
  print(i)
  i += 1

1
2
3
4
5

# 43. Find the sum of digits of a number using a while loop.

In [96]:
n = 123
m = str(n)
i = len(m) - 1
r = 0
while i >= 0:
  r += int(m[i])
  i -= 1
print(int(r))

6

# 44. Write a program that keeps asking for input until "stop" is entered.

In [80]:
while True:
  a = input()
  if a == "stop":
    break

# 45. Reverse a number using a while loop.

In [94]:
n = 123
m = str(n)
i = len(m) - 1
r = ""
while i >= 0:
  r += m[i]
  i -= 1
print(int(r))

321

# 46. Print the multiplication table of a number using a while loop.

In [82]:
n = 14
i = 1
while i <= 10:
  print(i, 'x', n, '=', n*i)
  i += 1

1 x 14 = 14
2 x 14 = 28
3 x 14 = 42
4 x 14 = 56
5 x 14 = 70
6 x 14 = 84
7 x 14 = 98
8 x 14 = 112
9 x 14 = 126
10 x 14 = 140

# 47. Take the userâ€™s name and print a welcome message.

In [83]:
u_name = input("Enter your name: ")
print("Welcome", u_name)

Welcome Nagesh

# 48. Take two numbers from the user and print their sum.

In [84]:
a = int(input())
b = int(input())
print(a+ b)

30

# 49. Ask the user to input a list of numbers (comma-separated) and convert it to a list of
integers.

In [85]:
u_li = input("Enter list commo sep:")
print(u_li)
new_l = [int(x) for x in u_li.split(",")]
print(new_l)

1,2,3,4,5
[1, 2, 3, 4, 5]

# 50. Take the user's age and check if they are eligible to vote (age >= 18).

In [88]:
age = int(input("AgL:"))

if age >= 18:
  print("can vote")
else:
  print("Can't Vote")

can vote