# Atomic

Everything as a single element

- int
- str
- float
- complex
- Boolean

In [3]:
a = 10
b = 5
c = a + b
d = c - a

In [4]:
print(d)

5

In [5]:
# Type checking

a = 5
print(type(a))

<class 'int'>

In [6]:
type(23.33)

float

In [7]:
a = 3+4j
type(a)

complex

In [8]:
a = True # Should be always capital 'T', another value is False
type(a)

bool

In [9]:
a = 'Nagesha'
a[0] # Left to right indexing

'N'

In [10]:
a[-1] # Right to left indexing

'a'

In [11]:
a[-10] # IndexError: string index out of range

IndexError: string index out of range

# Subsetting
 a[x:y:z]
- x - Start index
- y - End index + 1
- z - direction

In [17]:
# Print 'Nag' from varaible a, using subset
print(a[0:3])
print(a[:3]) # if not mentioned it start fro zero

Nag
Nag

In [14]:
# Pring full name
print(a[:])

Nagesha

In [18]:
a[-1:]

'a'

In [19]:
a[::-1]

'ahsegaN'

In [25]:
a = 'Sumit'
a[4:-5]

''

In [30]:
a[-1:4:2]

''

In [22]:
a[0::2]

'Smt'

In [32]:
a[1:-4:-1] # If the start and end index is same char , it always returns empty '' char

''

In [34]:
a[2:1:1]

''

- `+` is Left to Right Direction (Anything 1 or more than that)
- `-` is Right to Left Direction (Anything 1 or more than that)

In [39]:
a[::-1] # If you don't specify any start and end index, it starts from depending on direction

'timuS'

In [42]:
a[1::-1] # Sumit

'uS'

In [43]:
a[::-1]

'timuS'

In [44]:
a[2::-1]

'muS'

In [45]:
a[2::1]

'mit'

In [46]:
a[-2: -4: -1]

'im'

In [47]:
a[-1:-1:-1]

''

In [55]:
a[1::-1]
# 'uS'

'uS'

In [56]:
a[1:2:-1]

''

In [57]:
a[1::-1] # Sumit

'uS'

In [58]:
a[:1:-1]

'tim'

## Taking inputs from User

In [17]:
a = int(input("Enter value for a:"))
b = int(input("Enter value for b:"))
print("Sume is: ",a + b)

Sume is:  32

## Arithmetics Operator

- `//` - Floor division
- `**` - Power

## Logical Operators

- `>`
- `<`
- `==`
- `!=`

In [60]:
# Take user input using `input` method

user_input = input("Enter the number")
user_input == user_input[::-1]

Enter the number 134

False

In [63]:
a = 121
print(a[::-1]) # TypeError: 'int' object is not subscriptable
# we need to first convert number to string using str() method

TypeError: 'int' object is not subscriptable

In [77]:
a = int(input("Enter number"))
str_a = str(a) # Convert it into string using str()
reversed_str_a = str_a[::-1] # reverse string using subset
reversed_a = int(reversed_str_a) # do type conversion to int
print(a == reversed_a) # result of comparision

Enter number 11

True

In [82]:
# Take user input and convert it into int
# user % operator to find if the number is Odd/Even by comparing the result with 0 using == operator
user_input = int(input("Enter number(Even: True, Odd: False):"))
user_input % 2 == 0

Enter number(Even: True, Odd: False): 23

False

In [85]:
# Take user name and print excluding first character
user_name = input("Enter your name:")
user_name[1:]

Enter your name: Nagesha

'agesha'

# List

- a = [] # list initialization
- collection of elments
- This element can be different data types
- List are mutable
- Get the length of the list using `len()`

Example:
my_list = [1, 23, 4, "Nagesh", 23.3]

In [86]:
my_list = [1, 23, 4, "Nagesh", 23.3]
my_list

[1, 23, 4, 'Nagesh', 23.3]

In [88]:
# Add element to the list and print the list
my_list.append(10)
my_list

[1, 23, 4, 'Nagesh', 23.3, 10, 10]

In [90]:
# Remove element from the list
my_list.remove(0) # if element is not present, we will get this error ValueError: list.remove(x): x not in list

ValueError: list.remove(x): x not in list

In [91]:
my_list.remove(23)
my_list

[1, 4, 'Nagesh', 23.3, 10, 10]

In [92]:
# Print the length of the list
len(my_list)

6

In [93]:
# Reverse the List
my_list[::-1] # it won't modify the list

[10, 10, 23.3, 'Nagesh', 4, 1]

In [94]:
my_list

[1, 4, 'Nagesh', 23.3, 10, 10]

In [102]:
# Take user name using `input()` and take number from user and print user name in those many times
user_name = input("Enter you name: ") + " "
number_of_times = int(input("Enter number of times you should print your name: "))
# user_name * number_of_times # (user_name + ' ')*3

Enter you name:  Nagesha
Enter number of times you should print your name:  13

'Nagesha Nagesha Nagesha Nagesha Nagesha Nagesha Nagesha Nagesha Nagesha Nagesha Nagesha Nagesha Nagesha '

In [105]:
# Take user input with listof elements seperated by comma(,)
# Convert user input to list using `split` operator
# and print only 5 elements from the list


user_input = input("Enter list of element seperated by comma(,): ")
user_list = user_input.split(",")
user_list[0:5]

Enter list of element seperated by comma(,):  1,2,3,4,5,6,7,8,9,10

['1', '2', '3', '4', '5']

# Tuples

- a = () # Initialization
- find the length using `len()`
- It is immutable that means we can't append and remove elements

In [115]:
my_tuple = (1,2,3,5)

In [116]:
len(my_tuple)

4

In [117]:
my_tuple[::-1]

(5, 3, 2, 1)

In [121]:
# Print last element

user_list_input = input("Enter list: ")
user_list = user_list_input.split(" ")

print("Last element is : ", user_list[-1])
print("Last element is : ", user_list[len(user_list) - 1])

Enter list:  1 2 3 4 5

Last element is :  5
Last element is :  5

In [248]:
# Print the average of the list
# user_input = [1, 2, 3, 4]
# sum(user_input) / len(user_input)

user_input = input('Enter list seperated by space: ')
user_list = user_input.split(" ")
#int_list = [ int(x) for x in user_list ]

int_list = list(map(int, user_list))

print("Int converted list: ", int_list)
print("Maximum: ", max(int_list))
print("Average: ", sum(int_list) / len(int_list))

Enter list seperated by space:  1 2 3 4 5

Int converted list:  [1, 2, 3, 4, 5]
Maximum:  5
Average:  3.0

# Dict
- define our own value
- a = {} initialization

In [143]:
user_data = {
    "Nagesha" : [ 29, "Bangalore", "Male" ],
    "Tej": [24, "Kolar", "Male"],
    "Mustafa": [23, "Kadri", "Male"],
    "Kohli": [35, "Munbai", "Male"]
}

In [144]:
user_data

{'Nagesha': [29, 'Bangalore', 'Male'],
 'Tej': [24, 'Kolar', 'Male'],
 'Mustafa': [23, 'Kadri', 'Male'],
 'Kohli': [35, 'Munbai', 'Male']}

In [145]:
user_data["Nagesha"]

[29, 'Bangalore', 'Male']

In [161]:
# Convert dict eys to list
list(user_data.keys())

['Nagesha', 'Tej', 'Mustafa', 'Kohli']

In [165]:
# Print all the dict values as list
list(user_data.values())

[[29, 'Bangalore', 'Male'],
 [24, 'Chennai', 'Male'],
 [23, 'Kadri', 'Male'],
 [35, 'Munbai', 'Male']]

In [155]:
# Extract Kolar from user_data
user_data["Tej"][1]

'Kolar'

In [160]:
# update dictionary
user_data["Tej"][1] = "Chennai"

In [159]:
user_data

{'Nagesha': [29, 'Bangalore', 'Male'],
 'Tej': [24, 'Chennai', 'Male'],
 'Mustafa': [23, 'Kadri', 'Male'],
 'Kohli': [35, 'Munbai', 'Male']}

In [174]:
# Add new element to dict list
user_data["Nagesha"].append(1000)

In [173]:
user_data

{'Nagesha': [29, 'Bangalore', 'Male', 100, 1000],
 'Tej': [24, 'Chennai', 'Male'],
 'Mustafa': [23, 'Kadri', 'Male'],
 'Kohli': [35, 'Munbai', 'Male']}

In [175]:
user_data["Nagesha"] = user_data["Nagesha"][::-1]

In [176]:
user_data

{'Nagesha': [1000, 1000, 100, 'Male', 'Bangalore', 29],
 'Tej': [24, 'Chennai', 'Male'],
 'Mustafa': [23, 'Kadri', 'Male'],
 'Kohli': [35, 'Munbai', 'Male']}

In [178]:
# extract 5 from below list
a = [1, 2, [4, 5], 5]
a[2][1]

5

# Set

- a = {} #initialization
- Contains unique value
- Order don't persist
- `len()` to find the length of the set
- indexing won't work

In [187]:
# Print Unique values from the below list
a = ["Sumit", "Sumit", "Rahul", "Virat"]
a_set = set(a) # Convert it into set
print(a_set)

{'Sumit', 'Virat', 'Rahul'}

In [188]:
len(a_set)

3

In [189]:
a

['Sumit', 'Sumit', 'Rahul', 'Virat']

In [190]:
a_set

{'Rahul', 'Sumit', 'Virat'}

# Conditional Statement

In [192]:
a = int(input('Enter a: '))
b = int(input('Enter b: '))
if a > b:
    print('a is greater than b.')
elif a == b:
    print('a is equal to b')
else:
    print('a is smaller')

Enter a:  12
Enter b:  34

a is smaller

In [205]:
year = int(input("Enter year"))
if ((year % 4 == 0) and year % 100 != 0) or (year % 400 == 0):
    print("Leaf Year")
else:
    print("Not leaf Year")

Enter year 2024

Leaf Year

In [206]:
# Find greatest number from
a = int(input('Enter a: '))
b = int(input('Enter b: '))
c = int(input('Enter c: '))
if a > b > c:
    print("A is greatest number")
elif b > a > c:
    print("B is greatest number")
else:
    print("C is greatest number")

Enter a:  4
Enter b:  5
Enter c:  23

C is greatest number

# Assignment

1. Leaf Year
2. Take 3 numbers and print highest number
3. Pallindrome
4. even or odd number

In [212]:
# Assigment 1: Leaf Year

year = int(input("Enter year"))
if ((year % 4 == 0) and year % 100 != 0) or (year % 400 == 0):
    print("Leaf Year")
else:
    print("Not leaf Year")

Enter year 2024

Leaf Year

In [234]:
# Assigment 2: Take 3 numbers and print highest number
a = int(input('Enter a: '))
b = int(input('Enter b: '))
c = int(input('Enter c: '))
if (a == b) and b > c: # Where a and b are equal
    print("A and B are equal and greater than c")
elif (b == c) and c > a: # Where b and c are equal
    print("B and C are equal and greater than a")
elif a == b == c: # all are equal
    print("All are equal")
elif a > b > c:
    print("A is greatest number")
elif b > a > c:
    print("B is greatest number")
else:
    print("C is greatest number")

Enter a:  4
Enter b:  4
Enter c:  2

A and B are equal and greater than c

In [224]:
# Assigement 3: Pallindrome
# String
user_input = input("Ener any name: ")
reversed_name = user_input[::-1]
if (user_input == reversed_name):
    print("Given name is Palindrome")
else:
    print("Given name is not Palindrome")

# Number
user_number = int(input("Enter number: "))
user_input_str = str(user_number)
final_reversed_number = int(user_input_str[::-1])
if (user_number == final_reversed_number):
    print("Given number is Palindrome")
else:
    print("Given number is not Palindrome")

Ener any name:  Nagesh

Given name is not Palindrome

Enter number:  121

Given number is Palindrome

In [228]:
# Assignement 4: Even or Odd
user_input = int(input("Enter any number: "))
if (user_input % 2 == 0):
    print("Given number is Even")
else:
    print("Given number is Odd")

Enter any number:  3

Given number is Odd

In [1]:
print("Hello")

Hello